<h1>New Lecter diagnosis</h1>

<%= form_tag lecter_diagnosis_path do %>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
  <% %i[endpoint params].each do |attr|  %>
    <p>
      <%= label_tag attr %>
      <%= text_field_tag attr %>
    </p>
  <% end %>
  <p>
    <%= label_tag :method %>
    <%= select_tag :method, options_for_select(%w[get post], 'get') %>
  </p>
  <%= submit_tag :send %>
<% end %>
