<%= content_for :title, t('.title')  %>

<h1><%= t('.title') %></h1>

<%= form_tag diagnosis_path do %>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
  <p>
    <%= label_tag t('.endpoint') %>
    <%= text_field_tag :endpoint %>
  </p>
  <p>
    <%= label_tag t('.params') %>
    <%= text_area_tag :params %>
  </p>
  <p>
    <%= label_tag t('.method') %>
    <%= select_tag :method, options_for_select(Lecter::AVAILABLE_METHODS, Lecter::DEFAULT_METHOD) %>
  </p>
  <%= submit_tag t('.create') %>
<% end %>
