<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= javascript_include_tag '//code.jquery.com/jquery-1.12.4.js', '//code.jquery.com/ui/1.12.1/jquery-ui.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %>
  </head>

  <style>
    .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        background: #232323;
        color: #e6e1dc;
    }

    .hljs-comment,
    .hljs-quote {
        color: #bc9458;
        font-style: italic;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        color: #c26230;
    }

    .hljs-string,
    .hljs-number,
    .hljs-regexp,
    .hljs-variable,
    .hljs-template-variable {
        color: #a5c261;
    }

    .hljs-subst {
        color: #519f50;
    }

    .hljs-tag,
    .hljs-name {
        color: #e8bf6a;
    }

    .hljs-type {
        color: #da4939;
    }


    .hljs-symbol,
    .hljs-bullet,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-attr,
    .hljs-link {
        color: #6d9cbe;
    }

    .hljs-params {
        color: #d0d0ff;
    }

    .hljs-attribute {
        color: #cda869;
    }

    .hljs-meta {
        color: #9b859d;
    }

    .hljs-title,
    .hljs-section {
        color: #ffc66d;
    }

    .hljs-addition {
        background-color: #144212;
        color: #e6e1dc;
        display: inline-block;
        width: 100%;
    }

    .hljs-deletion {
        background-color: #600;
        color: #e6e1dc;
        display: inline-block;
        width: 100%;
    }

    .hljs-selector-class {
        color: #9b703f;
    }

    .hljs-selector-id {
        color: #8b98ab;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .hljs-link {
        text-decoration: underline;
    }

    /* diagnosis/show.slim */


    .down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        margin: 10px 7px 0 5px;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 78%;
    }

    .sidebar {
        float: left;
    }

    .sidebar > .sidebar-wrapper {
        width: 235px;
        position: fixed;
        margin: 49px 33px 0 0;
        overflow-y: scroll;
        top: 82px;
        bottom: 40px;
    }

    .sidebar-wrapper > ul {
        list-style-type: none;
        height: calc(100% - 40px);
    }

    .sidebar-wrapper > ul > li {
        margin-bottom: 3px;
    }

    .sidebar-wrapper > ul > li > a {
        text-decoration: none;
        color: inherit;
        display: block;
        font-size: 13px;
        text-inline: 1.5;
    }

    .sidebar-wrapper > ul > li > a:hover {
        color: #7d7d7d;
    }

    .right {
        float: left;
        padding-left: 10px;
        width: 70%;
        margin-left: 295px;
    }

    .listing {
        display: none;
        padding: 1em 2.2em;
        overflow: auto;
        border-bottom-right-radius: 4px;
        border: 0.5px solid;
        border-top-width: 0;
        border-bottom-left-radius: 4px;
        background: #efefef;
    }

    .filename {
        cursor: pointer;
        position: relative;
        margin: 2px 0 0 0;
        padding: .5em .5em .5em .7em;
        border: solid 0.1px;
        background: #efefef;
    }

    /* layouts/lecter.slim */

    body {
        font-family: "Helvetica Neue", "Helvetica", Arial, "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 1.6;
        -webkit-font-smoothing: antialiased;
    }

    .body-wrapper {
        overflow: hidden;
        *zoom: 1;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        padding: 0 20px;
    }

    .nav {
        font-weight: 500;
        background: #0b4e22;
        border-bottom: 1px solid #cccccc;
    }

    .nav-inner {
        display: block;
        max-width: 955px;
        padding: 1px 20px;
    }

    .nav-inner > ul {
        list-style-type: none;
    }

    .nav-inner > ul > li > a {
        text-decoration: none;
        font-weight: 600;
        color: white;
        letter-spacing: 0.4px;
    }

    .ul {
        -webkit-justify-content: space-between;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 8px 2px 8px;
        display: -webkit-flex;
        display: flex;
    }

    .li {
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
        display: list-item;
        text-align: -webkit-match-parent;
        list-style-type: none;
    }

    .nav-inner > li > a {
        text-decoration: none;
        font-weight: 400;
        color: white;
        letter-spacing: 0.4px;
    }
  </style>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
